<div *ngIf="order && dishTypes">
    <h2>Order #{{order.getNumber()}}</h2>

    <div *ngFor="let dishType of dishTypes">
        <div *ngFor="let orderDetail of order.getOrderDetails()">
            <div *ngIf="orderDetail.getDish().getDishType().getId() === dishType.getId()">
                <img src="orderDetail.getDish().getImagePath()"/>
                {{orderDetail.getDish().getName()}}: {{orderDetail.getCount()}}
            </div>
        </div>
    </div>

    <button (click)="nextOrder()">Ready</button>
</div>